.display{
    width: 100vw;
    height: 100vh;
    top: 0px !important;
    left: 32px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    
}

.topdisplay{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96vw;
    height: 269px;
    top: 94px;
    margin: 7px;
    border-radius: 10px ;
    opacity: 0px;
    background-color: #626262;
}
.balance{
  margin-left: -5px;
}
.balance, .expenses{
    width: 35vw;
    height: 23vh;
    top: 140px;
    left: 90px;
    gap: 0px;
    border-radius: 15px ;
    opacity: 0px;
    background-color: #9B9B9B;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 34.47px;
    text-align: left;
    margin: 5px ;
    margin-left: 15px;
    

}
.expenses{
    margin-right: -5px;
}
.piechart{
  width: 23vh;
  height: 23vh;
}
.balance button{
    background: linear-gradient(90deg, #B5DC52 0%, #89E148 100%);
    width: 167.65px;
    height: 38px;
    top: 245px;
    left: 183.88px;
    border-radius: 18px;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.38px;
    text-align: left;
    color: #FFFFFF;
    border: #FFFFFF;
}
 .expenses button{
    background: linear-gradient(90deg, #FF9595 0%, #FF4747 80%, #FF3838 100%);
    width: 167.65px;
    height: 38px;
    top: 245px;
    left: 183.88px;
    border-radius: 18px;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.38px;
    text-align: left;
    color: #FFFFFF;
    border: #FFFFFF;
}
.title{
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 36.77px;
  text-align: left;
  margin: 10px;
}
.title1 {
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    line-height: 32.17px;
    text-align: left;
    color: #FFFFFF;
    width: 261px;
    height: 32px;
    margin: 5px;
    
  }

  .bottomdisplay{
    width: 96vw;
    margin: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .recenttransactions {
    display: flex;
    flex-direction: column;
    width: 68%;
  }
  .topexpenses{
    display: flex;
    flex-direction: column;
    width: 33%;
  }
  .expenselist{
    width: 738.33px;
    height: 300px;
    border-radius: 10px;
    background-color: #FFFFFF;
  }
  ul{
    width: 738.33px;
    height: 245.03px;
    /* top: 440.97px; */
    left: 32px;
    list-style-type: none;

  } 

.categoryIcon{
  color: black;
  background-color: #D9D9D9;
  margin: 10px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}

.listitem{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.expenselist ul {
  list-style-type: none;
  padding: 0; 
}

.expenselist li {
  margin-bottom: 8px;
}

.listitem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #f0f0f0;
  border-radius: 8px;
}

.listitem > div {
  display: flex;
  align-items: center;
}

.listname {
  margin-left: 8px;
}

.icondelete button {
  background-color: red;
  color: white;
  border: 1px solid white;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  transition: opacity 0.3s ease;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.iconedit button {
  margin: 2px;
  background-color: yellow;
  width: 37px;
  height: 37px;
  border: 1px solid white;
  border-radius: 50%;
  transition: opacity 0.3s ease;
  color: #FFFFFF;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icondelete button:hover,
.iconedit button:hover {
  opacity: 1;
}

