.display{
    width: 98vw;
    height: 98vh;
    top: 0px !important;
    border: 1px 0px 0px 0px;
    /* opacity: 0px; */
    display: flex;
    flex-direction: column;
    margin: 1vh 1vw;
    
}

.topdisplay{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96vw;
    height: 35vh;
    top: 94px;
    margin:10px;
    border-radius: 10px ;
    /* opacity: 0px; */
    background-color: #626262;
}
.balance{
  margin-left: -5px;
}
.balance, .expenses{
    width: 35vw;
    height: 23vh;
    top: 140px;
    left: 90px;
    gap: 0px;
    border-radius: 15px ;
    /* opacity: 0px; */
    background-color: #9B9B9B;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
    line-height: 34.47px;
    text-align: center;
    margin: 5px ;
    margin-left: 15px;
    

}
.expenses{
    margin-right: -5px;
}
.piechart{
  width: 26vh;
  /* height: 23vh; */
  /* margin: 10px; */
  /* margin-top: -20px; */
  
}
.balance button, .expenses button{
    width: 167.65px;
    height: 38px;
    top: 245px;
    left: 183.88px;
    border-radius: 18px;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.38px;
    text-align: center;
    color: #FFFFFF;
    border: #FFFFFF;
}
.balance button{
    background: linear-gradient(90deg, #B5DC52 0%, #89E148 100%);
    
}
 .expenses button{
    background: linear-gradient(90deg, #FF9595 0%, #FF4747 80%, #FF3838 100%);
    
}
.title{
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 36.77px;
  text-align: left;
  margin: 10px;
}
.title1 {
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    line-height: 32.17px;
    text-align: left;
    color: #FFFFFF;
    width: 261px;
    height: 32px;
    margin: 5px;
    
}

.bottomdisplay{
    width: 96vw;
    margin: 1vh 1vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.recenttransactions {
    display: flex;
    flex-direction: column;
    width: 62vw;
    margin:1vh 1vw;
    height: 362px;
}
.topexpenses{
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 1vh 1vw;
}
.expenselist{
    width: auto;
    height: 300px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin: 1vh;
}
ul{
    width: 738.33px;
    height: 245.03px;
    /* top: 440.97px; */
    left: 32px;
    list-style-type: none;
    

} 

.categoryIcon{
  color: black;
  background-color: #D9D9D9;
  margin: 10px;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

}
.expenselist ul {
  list-style-type: none;
  padding: 0; 
  width: auto;
}
.expenselist li {
  margin-bottom: 8px;
  
}
.listitem {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: #f0f0f0;
  position: relative;
}
.listitem::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 4vw;
  width: 90%; 
  border-bottom: 2px solid #b9b3b3;
}
.listitem > div {
  display: flex;
  align-items: center;
}

.listname {
  margin-left: 8px;
}

.icondelete button {
  background-color: red;
}

.iconedit button {
  background-color: yellow;
  
}

.icondelete button, .iconedit button {
  color: white;
  border: 1px solid white;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  transition: opacity 0.3s ease;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
}
.icondelete button:hover,
.iconedit button:hover {
  opacity: 1;
}

@media (max-width: 606px) {
  .display{
    height: 100vh;
    width: 100vw;
  }

 .topdisplay{
  flex-direction: column;
  /* height: 80vh !important;
  width: 98vw; */
  height: auto;
  justify-content: space-evenly;
  /* background: fixed; */
 } 
 .topdisplay button{
  width: auto;
  font-size: auto;
 }

 .balance, .expenses, .piechart{
  height: auto;
  width: 80vw;
  text-align: center;
  margin: 10px 0;
 }

 .bottomdisplay{
  /* height: 96vh; */
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1px;
 }
 .recenttransactions {
  width: 95%;
  margin: 1vh 0;
}

.expenselist, ul {
  width: auto;
}
 .topexpenses{
  width: auto;
 }
}