.display{
    width: 98vw;
    height: 98vh;
    top: 0px !important;
    border: 1px 0px 0px 0px;
    /* opacity: 0px; */
    display: flex;
    flex-direction: column;
    margin: 1vh 1vw;
    
}

.topdisplay{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96vw;
    height: 35vh;
    top: 94px;
    margin:10px;
    border-radius: 10px ;
    /* opacity: 0px; */
    background-color: #626262;
}
.balance{
  margin-left: -5px;
}
.balance, .expenses{
    width: 35vw;
    height: 23vh;
    top: 140px;
    left: 90px;
    gap: 0px;
    border-radius: 15px ;
    /* opacity: 0px; */
    background-color: #9B9B9B;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 400;
    line-height: 34.47px;
    text-align: center;
    margin: 5px ;
    margin-left: 15px;
    

}
.expenses{
    margin-right: -5px;
}
.piechart{
  width: 26vh;
  /* height: 23vh; */
  /* margin: 10px; */
  /* margin-top: -20px; */
  
}
.balance button, .expenses button{
    width: 167.65px;
    height: 38px;
    top: 245px;
    left: 183.88px;
    border-radius: 18px;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.38px;
    text-align: center;
    color: #FFFFFF;
    border: #FFFFFF;
}
.balance button{
    background: linear-gradient(90deg, #B5DC52 0%, #89E148 100%);
    
}
 .expenses button{
    background: linear-gradient(90deg, #FF9595 0%, #FF4747 80%, #FF3838 100%);
    
}
.title{
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  line-height: 36.77px;
  text-align: left;
  margin: 10px;
}
.title1 {
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    line-height: 32.17px;
    text-align: left;
    color: #FFFFFF;
    width: 261px;
    height: 32px;
    margin: 5px;
    
}

.bottomdisplay{
    width: 96vw;
    margin: 1vh 1vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}



@media (max-width: 606px) {
  .display{
    height: 100vh;
    width: 100vw;
  }

 .topdisplay{
  flex-direction: column;
  /* height: 80vh !important;
  width: 98vw; */
  height: auto;
  justify-content: space-evenly;
  /* background: fixed; */
 } 
 .topdisplay button{
  width: auto;
  font-size: auto;
 }

 .balance, .expenses, .piechart{
  height: auto;
  width: 80vw;
  text-align: center;
  margin: 10px 0;
 }

 .bottomdisplay{
  /* height: 96vh; */
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1px;
 }
 .recenttransactions {
  width: 95%;
  margin: 1vh 0;
}

.expenselist, ul {
  width: auto;
}
 .topexpenses{
  width: auto;
 }
}